body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: sans-serif;
    color: #5f5f5f;
    position: relative;
    top: 35px;
    padding: 0 54px;
    line-height: 1.2;
    font-size: 2.8em;
    font-weight: bold;
}

h2 {
    font-family: sans-serif;
    color: #717171;
    margin: -6px 0;
}

/* ГАМНО */

.middle_img {
	margin-top: -30px;
}

.last_img {
	margin-top: -5px;
}

.top h3 {
    font-family: sans-serif;
    color: #717171;
    padding: 30px 54px;
    font-weight: 100;
}

footer {
    position: relative;
    min-height: 240px;
    width: 100vw;
    background-color: #484848;
}

footer h3 {
    font-family: sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.9em;
    margin-top: 45px;
}

footer p {
    font-family: sans-serif;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1.3em;
    display: inline;
    top: 3px;
    left: 10px;
    position: relative;
}

footer img {
    display: inline;
    padding: 5px 16px;
    width: 50px;
    margin-left: -16px;
}

ul {
	list-style: none;
	padding-left: 0; 
}

ul li {
	font-size: 1.3em;
}

.socials {
    height: 240px;
}

.socials img {
    position: relative;
    top: calc(50% - 32px);
    width: 90px;
    transform: scale(1);
    transition: all .2s;
}

.socials img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 500px) {
    .socials .text-right {
        text-align: center !important;
    }
}

p {
    font-size: 1.4em;
    margin: 0;
}

@media screen and (max-width: 500px) {
    h2 {
        text-align: center;
    }
    .top h3 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}

.links {
    text-align: center;
}

.link {
    opacity: .4;
    transition: opacity .4s;
}

.link:hover {
    opacity: 1;
}

.link > img {
    width: 273px;
    padding: 35px;
}


/*img:after {
    content: url("images/play.png");
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
}*/

.bold {
    font-weight: bold;
    margin-top: 20px;
}

.container-fluid {
    padding: 0 !important;
}

.top {
    width: 100vw;
    min-height: 270px;
    height: auto;
    background-image: url('images/top.png');
    background-size: cover;
    background-position: 35%;
    margin: 0 0 40px 0;
}

@media screen and (max-width: 500px) {
    .top * {
        text-align: center;
    }
}

.videoWrapper {
    box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.4);
    width: 100%;
}

#playlist {
    width: 90%;
    margin: 0 auto;
}

.item img {
    width: 90%;
    margin: 5%;
    cursor: pointer;
    transform: scale3d(1, 1, 1);
    transition: all .3s;
}

.item img:hover {
    transform: scale3d(1.03, 1.03, 1.03);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4)
}

.owl-carousel .owl-wrapper-outer {
    padding: 11px 0;
}

img.prev {
    position: absolute;
    bottom: 119px;
    left: 0;
}

img.next {
    position: absolute;
    bottom: 119px;
    right: 0;
}

.v_title {
	font-size: 1em;
	text-align: left;
    padding-right: 2em;
}


/*.videoNav {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
}*/


/*.videoNav ul {
    list-style: none;
    margin: 5px 0;
    position: relative;
    width: auto;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
}

.videoNav ul li img:hover,
.videoNav ul li img.selected {
    border: 4px solid transparent;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.7);
}*/
